<div class="searchResultContainer">
    <md-table md-height="100%" class="usersTable" v-model="users" md-sort="login" md-sort-order="asc" md-card md-fixed-header>
        <md-table-toolbar>
            <UserForm class="md-toolbar-section-start" />
            <SearchBar class="md-toolbar-section-end" searchBarTitle="SEARCH: " @onSearch="onSearch($event)" />
        </md-table-toolbar>
        <md-table-row slot="md-table-row" slot-scope="{ item }">
            <md-table-cell md-width="200" class="tableCell" md-label="Login" md-sort-by="login">{{ item.login }}</md-table-cell>
            <md-table-cell md-width="200" class="tableCell" md-label="Url" md-sort-by="url">{{ item.url }}</md-table-cell>
            <md-table-cell md-width="200" class="tableCell" md-label="Repository" md-sort-by="reposUrl">{{ item.reposUrl }}</md-table-cell>
        </md-table-row>
    </md-table>
    <Paginator :pages="5" />
</div>