<div class="searchResultContainer">
    <div class="resultHeaderContainer">
        <UserFormModal />
        <SearchBar searchBarTitle="SEARCH: " @onSearch="onSearch($event)" />
    </div>
    <div>
        <div class="usersTable">
            <md-content class="usersTableBody md-scrollbar">
                <div class="usersTableHeader">
                    <div class="usersTableHead">Login</div>
                    <div class="usersTableHead">Url</div>
                    <div class="usersTableHead">Repository</div>
                </div>
                <div v-for="user in users" :key="user.id" @click="onSelect(user)"
                    :class="user.selected ? 'usersTableRowSelected' : 'usersTableRow'">
                    <div :class="user.selected ? 'usersTableCellSelected' : 'usersTableCell'">
                        <md-avatar class="md-large" style="padding: 5px;">
                            <img :src="baseApiURL + '/' + user.avatarUrl"
                                onError="this.src='https://cdn.iconscout.com/icon/free/png-512/no-image-1771002-1505134.png'">
                        </md-avatar>
                        {{user.login}}
                    </div>
                    <div :class="user.selected ? 'usersTableCellSelected' : 'usersTableCell'">{{user.url}}</div>
                    <div :class="user.selected ? 'usersTableCellSelected' : 'usersTableCell'">{{user.reposUrl}}</div>
                </div>
            </md-content>
        </div>
        <div>
            <md-drawer class="md-right editUserPanel" :md-active.sync="showEditPanel" md-persistent="full">
                <md-toolbar class="md-dense closeButtonContainer">
                    <span class="closeButton" @click="onHideEditPanel()">
                        <md-icon>close</md-icon>
                    </span>
                </md-toolbar>
                <UserForm :edit="true" :selectedUser="selectedUser" />
            </md-drawer>
        </div>
    </div>
</div>