.uploadFileContainer {
  display: flex;
  cursor: pointer;

  .inputFile {
    display: none;
  }

  .selectedImageContainer {
    padding: 5px;
    .selectedImage {
      width: auto;
      height: auto;
    }
  }
}
