<!-- <div class="searchBarContainer">
    <md-field md-clearable class="md-toolbar-section-end">
        <label class="label">{{ searchBarTitle }}</label>
        <md-input class="searchBar" placeholder="Search..." v-model="searchKeyword" @input="onSearch()"></md-input>
    </md-field>
</div> -->

<md-field md-clearable>
    <label class="label">{{ searchBarTitle }}</label>
    <md-input class="searchBar" placeholder="Search..." v-model="searchKeyword" @input="onSearch()"></md-input>
</md-field>